html, body {
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    font-family: "Josefin Sans", sans-serif;
    background-color: #F1F7ED;
    color: #f1f7ed;
    user-select: none;
    display: flex;
    line-height: 1.5;
}

.container {
    margin: 30px auto;
    padding: 0;
    background-color: #744253;
    border-radius: 8px;
    text-align: center;
    width: 90%;
    overflow: auto;
    max-width: 800px;
}

.freddie-icon {
    width: 20%;
    margin: 5%;
}

h1 {
    font-size: 1.563rem;
    font-weight: 700;
    margin-top: 0;
}

/* form inputs */
input {  
    background-color: #fbdadc;
    color: #005fa3;
    width: 80%;
    border-radius: 8px;
    text-align: center;
    font-size: .938rem;
    border: 3px solid #744253;
    margin: 0 auto;
}

.endorsement-input-el {
    height: 120px;
}

.to-from-els {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 81%;
    gap: 5px;
    margin: 10px auto; 
}

::placeholder {
  color: #114c74;
  opacity: .5;
}

input:focus {
    outline: none;
    border: 3px solid #ffd166;
}

input:focus::placeholder {
  color: transparent;
}

.publish-btn {
    width: 80%;
    height: 50px;
    border: 3px solid transparent;
    border-radius: 8px;
    background-color: #ffd166;
    color: #114c74;
    border: 0;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.publish-btn:hover {
    background-color: #005fa3;
    color: #ffd166;
}

.publish-btn:focus {
    outline: none;
    border: 3px solid #fbdadc;
}

/* output elements */

h2 {
    font-size: 1.25rem;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    overflow-y: scroll;
    scrollbar-width: none;
    max-height: 60vh;
}

ul li {
    background-color: #f1f7ed;
    color: #005fa3;
    width: 77%;
    margin: 10px auto;
    text-align: left;
    padding: 10px 5px;
    word-break: break-word;  
}

.to-output-el {
    font-weight: 700;
    margin-bottom: 10px;
}

.from-output-el {
    font-weight: 700;
    display: flex;
    margin-top: 10px;
}

.endorsement-list-items {
    display: flex;
    flex-flow: column wrap;
    padding: 10px;    
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer .likes {
    display: flex;
    align-items: center;
}

.like-btn {
    display: flex;
    border: 1px solid transparent;
}

.like-btn:hover{
    cursor: pointer;
    size: 1.5rem;
    
}

.like-btn:focus{
    outline: 0.1em solid #744253;
    border-radius: 5px;  
}

.liked {
    color: #005fa3;
}

.liked:hover {
    font-size: 1.5rem;
    transition: 0.2s ease-in-out;
}